* {
    outline: none;
}

body {
    background-color: white;
    color: #333;
    font-family: Roboto;
    padding: 30px;
    font-size: 100%;
}

.active {
    transform: scale(1);
    opacity: 1;
}

input {
    border: none;
    background: none;
    font-family: inherit;
    font-size: 100%;
    border-bottom: 2px solid #aaa;
    font-family: "Inconsolata", "Monaco", "consolas", monospace;
}

p {
    position: relative;
    text-align: center;
}

.count {
    color: #848484;
}

.filters {
    padding: 0;
    list-style: none;
}

button {
    border: none;
    border-radius: 3px;
    padding: 8px;
    cursor: pointer;
    color: white;
    background-color: #bbb;
}

button:hover {
    background-color: #ccc;
}

button.change {
    position: absolute;
    font-weight: bold;
    top: 50%;
    transform: translateY(-50%);
}

button.change.left {
    left: 0;
}

button.change.right {
    right: 0;
}

input[type=checkbox] {
    position: absolute;
    top: -100%;
    left: -100%;
    opacity: 0;
    transform: scale(0);
}

label {
    cursor: pointer;
    user-select: none;
}

 .checkbox.tick {
    cursor: pointer;
    margin: 3px 5px;
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 3px;
    vertical-align: middle;
    position: relative;
    border: 2px solid #888;
    transition: all .3s;
}

 .checkbox.tick::before {
    content: attr(data-label);
    display: inline-block;
    font-family: Inconsolata, Monaco, consolas, monospace;
    font-size: 70%;
    white-space: nowrap;
    position: absolute;
    left: 50%;
    transform: translate(-50%) scale(.8);
    opacity: 0;
    color: #555;
    transition: all .3s;
}

 .checkbox.tick:hover::before {
    transform: translate(-50%, -120%) scale(1);
    opacity: 1;
}

 .checkbox.tick::after {
    content: "";
    display: block;
    position: absolute;
    left: 3px;
    top: 3px;
    width: 5px;
    height: 2px;
    border: 2px solid white;
    border-top-color: transparent;
    border-right-color: transparent;
    transform: rotate(-45deg);
    opacity: 0;
}

input[type=checkbox]:checked + .checkbox.tick::after {
    opacity: 1;
}

input[type=checkbox]:checked + .checkbox.tick {
    background-color: #FD5C4C;
    border-color: #FD5C4C;
}
